<mat-toolbar>
  <span>{{userService.form.controls['user_id'].value ? "Modify User" : "New User"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="userService.form" class="normal-form" (submit)="onSaveUser()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="user_id">
        <mat-form-field>
          <input formControlName="email" matInput placeholder="Email*">
          <mat-error>Invalid Email Address.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="Username" matInput placeholder="Username*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="Name" matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="Address" matInput placeholder="Address">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div>
          <ng-container *ngIf="countries">
            <select (change)="resetPhoneNumber($event)" [(ngModel)]="selectedCountry"
                    [ngModelOptions]="{standalone: true}">
              <option *ngFor="let country of countries" [ngValue]="country.code">{{country.name}}</option>
            </select>
          </ng-container>
          <mat-form-field>
            <input (input)="formatPhoneNumber($event)" formControlName="Phone" matInput placeholder="Phone">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="this.userService.form.get('Phone').invalid">Not a valid phone number.</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field>
          <input formControlName="City" matInput placeholder="City">
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="ProfileId" placeholder="Profile">
            <ng-container *ngFor="let profile of ProfileList">
              <mat-option value="{{profile.profile_id}}">{{profile.profile_label}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="ClientId" placeholder="Client">
            <ng-container *ngFor="let customer of CustomerList">
              <mat-option value="{{customer.client_id}}">{{customer.client_name}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="userService.form.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</form>
