<mat-toolbar>
  <span>{{boxService.form.controls['box_id'].value ? "Modify box" : "New box"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="boxService.form" class="normal-form" (submit)="onSavebox()">
  <mat-grid-list cols="2" rowHeight="450px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="box_id">
        <mat-form-field>
          <input formControlName="box_label" matInput placeholder="label*">
          <mat-error>Pls enter a box label.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="address_mac" matInput placeholder="Mac Address">
          <mat-error>Mac Address is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input formControlName="description" matInput placeholder="Description">
        </mat-form-field>
        <mat-form-field>
          <input formControlName="version" matInput placeholder="Version">
          <mat-error>Version is mandatory</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="MachineId" placeholder="Machine">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let machine of machines">
              <mat-option value="{{machine.machine_id}}">{{machine.machine_label}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="LineId" placeholder="line">
            <mat-option>None</mat-option>
            <ng-container *ngFor="let line of lines">
              <mat-option value="{{line.line_id}}">{{line.line_label}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="boxService.form.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>

      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>


