<img src="assets/img/marabout.png" alt="">
<mat-card>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email size="50">
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel  placeholder="Password*" #passwordInput="ngModel" >
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div>

      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Login</button>
      <a routerLink="forgotPassword">Forgot Password?</a>
    </div>

  </form>
  </mat-card>
<mat-spinner *ngIf="isLoading "></mat-spinner>
