<mat-spinner *ngIf="isloading"></mat-spinner>
<div class="search-div">

  <button class="AddSite" mat-raised-button color="primary" (click)="onCreateSite()">
    <mat-icon>add</mat-icon>
    Create Site
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="sites" *ngIf=" sites!=null && !isloading" matSort>
    <ng-container matColumnDef="Label">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Label</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.site_label}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.site_email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.site_phone}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Technical_Contact">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Technical_Contact</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.site_technical_contact}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Prod_Contact">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prod_Contact</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.site_prod_contact}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Fax">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fax</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.site_fax}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Address">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.site_address}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Country">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Country</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.country.country_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Client">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Client</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.customer.client_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row.site_id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No Sites Added
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(sites!=null && sites.data.length===0)}"></mat-footer-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>


</div>




