<mat-spinner *ngIf="isloading"></mat-spinner>
<div class="search-div">

  <button class="Addelectronic" mat-raised-button color="primary" (click)="onCreateElectronic()">
    <mat-icon>add</mat-icon>
    Create electronic
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="electronics" *ngIf=" electronics!=null && !isloading" matSort>
    <ng-container matColumnDef="profile_image">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Picture</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="post-image">
          <img [src]="element.profile_image" [alt]="element.emp_name">
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="emp_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.emp_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="emp_address">
      <mat-header-cell *matHeaderCellDef mat-sort-header>address</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.emp_address}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="emp_rfid">
      <mat-header-cell *matHeaderCellDef mat-sort-header>RFID</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.emp_rfid}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.city}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="last_login_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Last_login_date</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.last_login_date}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="emp_matricule">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Matricule</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.emp_matricule}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.status}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(row.emp_id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No electronics Added
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(electronics!=null &&electronics.data.length===0)}"></mat-footer-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>


</div>






