mat-spinner{
  margin : auto;
}
.post-image{
  width : 100%;
}
.post-image img {
  width: 35%;
  box-shadow : 1px 1px 5px rgba(0,0,0,0.5);
}
.box {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  align-content: space-between;
}
.AddSequence{
  margin-left: 800px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: darkgreen;
  color: white;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
li {
  list-style-type: square;
}

li li {
  list-style-type: circle;
}
.op-name{
  margin-right: 800px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: dodgerblue;
  font-size: 30px;
  font-weight: bold;
}
