<mat-spinner *ngIf="isloading"></mat-spinner>
<div class="search-div">

  <button class="Addmachine" mat-raised-button color="primary" *ngIf="UserProfile.has_save=='Y'"(click)="onCreateMachine()">
    <mat-icon>add</mat-icon>
    Create machine
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="Machine" *ngIf=" Machine!=null && !isloading" matSort>
    <ng-container matColumnDef="machine_label">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Label</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.machine_label}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="machine_type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.machine_type.type}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="line">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Line</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.line?.line_label}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button *ngIf="UserProfile.has_update=='Y'"(click)="onEdit(row)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" *ngIf="UserProfile.has_delete=='Y'"(click)="onDelete(row.machine_id)">
          <mat-icon>delete_outmachine</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No Machine Added
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns" class="row-color"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['noData']"
                    [ngClass]="{'hide':!(Machine!=null &&Machine.data.length===0)}"></mat-footer-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>


</div>




