<mat-toolbar>
  <span>{{sequenceService.form.controls['sequence_id'].value ? "Modify sequence" : "New sequence"}}</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
    <mat-icon>clear</mat-icon>
  </button>
</mat-toolbar>

<form [formGroup]="sequenceService.form" class="normal-form" (submit)="onSavesequence()">
  <mat-grid-list cols="1" rowHeight="2000px">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="sequence_id">
        <div class="mat-elevation-z5">
          <div class="descriptionSeq">
            <h3>Description </h3>
            <label> Description: </label>
            <mat-form-field appearance="outline">
              <input formControlName="description" matInput placeholder="description">
            </mat-form-field>
          </div>

        </div>
        <div class="mat-elevation-z5">
          <div class="backStitchSeq">
            <h3>Back Stitch</h3>
            <div class="backsitch">
              <label> Init Back Stitch Count</label>
              <mat-form-field appearance="outline">
                <input formControlName="back_stitch" matInput placeholder="back_stitch">
              </mat-form-field>

              <label> Second Back Stitch Count</label>
              <mat-form-field appearance="outline">
                <input formControlName="second_back_stitch" matInput placeholder="second_back_stitch">
              </mat-form-field>
              <label> Positive Tolerance</label>
              <mat-form-field appearance="outline">
                <input formControlName="back_stitch_positive_tolerence" matInput placeholder="Positive Tolerance">
              </mat-form-field>
              <label> Negative Tolerance</label>
              <mat-form-field appearance="outline">
                <input formControlName="back_stitch_negative_tolerence" matInput placeholder="Negative Tolerance">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="mat-elevation-z5">
          <div class="backStitchSeq">
            <h3>Stitch Count</h3>
            <div class="backsitch">
              <label> Stitch Count</label>
              <mat-form-field appearance="outline">
                <input formControlName="stitchcount" matInput placeholder="Stitch Count">
              </mat-form-field>
              <label> Positive Tolerance</label>
              <mat-form-field appearance="outline">
                <input formControlName="stitch_count_positive_tolerence" matInput placeholder="Positive Tolerance">
              </mat-form-field>
              <label> Negative Tolerance</label>
              <mat-form-field appearance="outline">
                <input formControlName="stitch_count_negative_tolerence" matInput placeholder="Negative Tolerance">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mat-elevation-z5">
          <div class="backStitchSeq">
            <h3>Coupe fil</h3>
            <div class="backsitch">
              <label>Cut Stitch</label>
              <mat-form-field appearance="outline">
                <input formControlName="coupe_fil" matInput placeholder="Cut Stitch">
              </mat-form-field>
              <label> Sequence Order</label>
              <mat-form-field appearance="outline">
                <input formControlName="sequence_order" matInput placeholder="Sequence Order">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="mat-elevation-z5">
          <div class="backStitchSeq">
            <h3>Sequence Details</h3>
            <div class="backsitch">
              <label>Parent Sequence</label>
              <mat-form-field appearance="outline">
                <input formControlName="parent_sequence" matInput placeholder="Parent Sequence">
              </mat-form-field>
              <mat-slide-toggle #slide [checked]="this.sequenceService.form.value.with_subsequence== true"
                                (change)="OnChange()">with_subsequence
              </mat-slide-toggle>
            </div>
          </div>
        </div>
        <div class="mat-elevation-z5">
        <h3>Sequence Image</h3>
        <div>
          <button mat-stroked-button type="button" (click)="filePicker.click()" color="primary">Sequence Image*</button>
          <input type="file" #filePicker (change)="onImagePicked($event)">
        </div>
        <div class="image-preview"
             *ngIf="imagePreview!==''&& imagePreview && sequenceService.form.get('picture').valid">
          <img [src]="imagePreview" [alt]="sequenceService.form.value.description">

        </div>
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="sequenceService.form.invalid">Submit
          </button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>



