.AddOperation{
  margin-left: 800px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
mat-spinner{
  margin : auto;
}
.OP1{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
  flex-direction: column;
  align-content: space-between;
}
mat-accordion{
  margin : 20px;
}
.mat-h1{
  color: dodgerblue;
}
